@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<div class="container">
    <table class="table table-striped table-bordered table-hover">
        <thead class="">
            <tr>
                <td colspan="4">
                    @Html.ActionLink("Add New Movie", "New")
                </td>
            </tr>
            <tr class="" >
                <td>Name</td>
                <td>Released Date</td>
                <td>Director</td>
                <td>Category</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", new { movieId = movie.Id }) </td>
                    <td>@movie.ReleasedDate.ToShortDateString()</td>
                    <td>@movie.Director</td>
                    <td>@movie.Genre.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>